{% extends "layout.html" %}

{% block content %}
  <main class="about-section">

    <div class="container">
      <div class="topnav" id="myTopnav">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign up</a>
        <a class="active"  href="{{ url_for('about') }}">About</a>
      </div>
      <h2>About My Site</h2>
      <p>People say that a picture says a thousand words. So instead of writing a bio why not let these pictures do the matchmaking for you.
      Just upload some pictures that represent your life and this app
    might just help you find your soulmate. </p>
      </div>
    </main>
{% endblock %}
